*Thumbs.db
*.obj
*.user
*.aps
*.pch
*.vspscc
*.vshost.exe.*
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.vspx
*.pyc
*.swp
*~
*.o
*.opensdf
*.sdf
_ReSharper*/

#project specific
/ipch
/Release
/Debug
tags/
.vscode
build/**/guidance*/
build/**/fy_guidance*/
tmp
obj
ipch.*~
